@import "~bulma/sass/utilities/initial-variables";

// Config vars
$turqoise: #2deddd;
$turqoise-invert: #fff;

$primary: $turqoise;
$primary-invert: $turqoise-invert;
$body-color: #333;
$black: #2b2523;
$fullhd-enabled: false;
$lg-mobile: 600px;

@import "~bulma";

.content h1,
.content h2,
.content h3,
.content h4 {
  color: $turqoise;
}

h3.subtitle {
  color: #4a4a4a;
}

.navbar {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  .navbar-menu {
    box-shadow:none !important;
  }
}

.nav-heading {
  font-size: 1.5rem;
  color: $primary;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 580px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
    width: 100vw;
    height: 580px;
    background-position: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 700;
    color: $primary;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px $primary;
    box-shadow: inset 0 0 0 2px $primary;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.m-auto {
  margin: auto;
}

.mb-2 {
  margin-bottom: 2rem;
}

.navbar-item .icon {
  color: $primary;
}

.navbar-text-item {
  position: relative;
  display: flex;
  outline: none;
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.15rem;
}

.navbar-text-item::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: $primary;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navbar-text-item:hover {
  color: #333;
}
.navbar-text-item:hover::after {
  @include from ($desktop) {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.navbar-item.active {
  .navbar-text-item:after {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-brand .navbar-item {
  &.logo-wrap {
    padding: 0;
  }

  .logo {
    padding: 0 .75rem;
    max-height: 3.5rem;

    @include from ($desktop) {
      max-height: 4rem;
    }
  }
}

footer.footer {
  padding: 3rem 0rem 0rem;
  background-color: transparent;
}
//Menu overrides
// $menu-item-color: $white-ter;
// $menu-item-hover-color: $black !important;
// $menu-item-hover-background-color: $black;
// $menu-item-active-color: $turqoise-invert;
// $menu-item-active-background-color:	$turqoise-invert;
// $menu-list-border-left: 1px solid $turqoise-invert;
// $menu-label-color: $white-ter;


.menu-label {
  font-size: 1em !important;
  text-align: left;
}

.menu-list {
  list-style: none !important;
  text-align: left;

  a {
    border-radius: 0;
    border-bottom: 1px solid;

    &:hover {
      background-color: $black;
      border-color: $turqoise;
      color: #4a4a4a;
    }
  }
}

.social,
.column.contact {
  padding: 2em;
}

.social a {
    padding: .5em .5em .3em .5em;
    border-radius: 1em;
    background-color: $primary;
    margin: .5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline;
}
// blog roll
.blog-list-item.is-featured {
  background-color: #f9f9f9;
}

.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}



// responsiveness
.blog-list-item .featured-thumbnail {
  @include from ($tablet) {
    flex-basis: 50%;
  }
}

.blog-list-item header {
  @include mobile {
    display: block
  }
}

.blog-list-item .featured-thumbnail {
  @include mobile {
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  }
}

// Side by side component 

.side-by-side-feature {
  padding: 1rem 0;

  .columns {
    box-shadow: 0 0.5em 1em -0.125em rgba(43, 37, 35, 0.1), 0 0px 0 1px rgba(43, 37, 35, 0.02);
    &:not(:last-child) {
      @include mobile {
        margin-bottom: 2rem!important;
      }
    }
  }

  :nth-child(odd) {
    flex-direction: row-reverse;

    .background-color {
      background: $turqoise;
    }
  }

  .background-color {
    background-color: slategray;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 1rem;

    @include from ($tablet) {
      padding: 0 1rem;
    }

    @include from ($desktop) {
      padding: 2.5rem 1.25rem;
    }

    > * {
      color: white;
    }
  }
}

.button {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-duration: 100ms;

  &.is-primary {
    background-color: $turqoise;
    color: white;
    margin: 1rem 0;

    &.is-cta {
      transition: ease-in-out all 300ms;
      padding-right: 2em;
      
      &:hover,
      :focus,
      :active {
        .right-arrow {
          transform: translateX(4px);
        }
      }
    }
  }

  &.is-secondary {
    background-color: transparent;
    position: relative;
    color: white;
    border-width: 1px;
    border-color: white;
    transition: ease-in-out all 300ms;
    padding-right: 2em;

    &:hover,
    :focus,
    :active {
      .right-arrow {
        transform: translateX(4px);
      }
    }
  }

  .right-arrow {
    display: inline-block;
    right: 1em;
    position: absolute;
    transform: translateZ(0);
    transition-duration: 100ms;
    transition-property: transform;
  }
}

.hero-content-container {
  display: flex;
  height: 150px;
  line-height: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @include from ($tablet) {
    align-items: flex-start;
  }

  @include until ($desktop) {
    padding: 1.5rem;
  }
}

.hero-content {
  @include mobile {
    padding: 1.5rem;
  }
}

.is-paddingless {
  padding: 0 !important;
}

.background-image-gatsby {
  height: 400px;
}

// testimonials wrapper

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include from ($lg-mobile) {
    flex-direction: row;
  }

  .box {
    width: 100%;
    margin-bottom: 1rem;
    background: #f9f9f9;

    @include from ($lg-mobile) {
      width: 40%;
      margin: 0;
    }
  }
}

.message-body {
  border-color: $turqoise;
  background: #f9f9f9;

  .cite {
    font-weight: bold;
  }
}

.contact-list {
  list-style: none;
}

// overwrite bulma 

.content .contact ul {
  list-style: none;
  margin: 0;
}

.instagram-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  a {
    display: flex;
    position: relative;
    padding: .25rem;
    height: 100%;

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }

  .overlay {
    display: flex;
    align-items: center;
    position: absolute;
    background: rgba(66, 183, 167, .8);
    margin: .25rem;
    padding: .75rem;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in-out 250ms;
    
    span {
      height: auto;
      overflow: hidden;
      color: $white;
    }
  }
}

.contact-form-wrapper {
  max-width: 660px;
  margin: 0 auto;
}

.qualifications-wrapper {
  img {
    max-width: 10rem;
  }
}

.image-container {
  padding: 3rem;
}

.copyright-wrapper {
  padding: 2rem 0 1rem 0;
}